
*.o
*.d
*.a
software/sobel_work_bsp/*
software/sobel_bsp/*
software/sobel/*
quartus_project/db/*
quartus_project/base_system/synthesis/*
quartus_project/output_files/*
quartus_project/software/05_Sobel_bsp/*
vhdl_modules/*
!vhdl_modules/lcd_controller
software/05_Sobel/*
!software/05_Sobel/*.h
!software/05_Sobel/*.c
quartus_project/incremental_db/*
quartus_project/.qsys_edit/*
quartus_project/base_system/*
*.rpt
*.cmp
*.html
*.xml
*.map.smsg
*.map.summary
quartus_project/mse_demo.qws
